@page
@model WebPrueba.Pages.FormularioTareasModel
@{
}
@{
    ViewData["Title"] = "Tareas Pendientes";
}



<div>
    <form>
    <h1>Tareas Pendientes</h1>
    <div>
        <div class="col-4">
            <label id="btnNuevo" class="btn btn-primary btn-sm">Nueva Tarea</label>
        </div>
    </div>
    <div class="table-responsive table-container">
        <table style="width:100%" id="tbl_tareas" class="table table-hover tabla_tareas">
            <thead>
                <tr>
                    <th>
                        ID
                    </th>
                    <th>
                        Título
                    </th>
                    <th>
                        Descripción
                    </th>
                    <th>
                       Fecha creación
                    </th>
                    <th>
                        Fecha vencimiento
                    </th>
                    <th>
                        Completada
                    </th>
                    
                    <th>

                    </th>
                </tr>
            </thead>
            <tbody>
            </tbody>
            </table>
        
    </div>
    </form>
    <partial name="./modalTarea.cshtml" />
</div>
@section Scripts
{
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/Tareas.js" asp-append-version="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.3/moment-with-locales.min.js"></script>


    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"</script>
}